@model IEnumerable<CVApplicationsManager.Views.CvApplicationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Applications List</h1>

<p>
    <a asp-action="Create">Send us your CV</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="delete-btn" data-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="applicationId" name="Id" />
</form>


    @section Scripts{
    <script>
    $(function(){
        $(".delete-btn").click(function(e){
            var button = $(this);
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to DELETE this permanently?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function(confirm){
                    if (confirm){
                        var id = button.data("id");
                        $("#applicationId").val(id);
                        $("#deleteForm").submit();
                    };
                });
        });
    });
    </script>
    }